.App {
  text-align: center;
  background-color: rgb(166, 168, 216);
  padding:50px;
}
.student-container{
  background-color: aliceblue;
  padding:40px;
  border-radius: 30%;

}
.score-display{
  padding: 20px;
  margin:40px;
  background-color: rgb(166, 168, 216);
  display:flex;
  justify-content: space-around;
  border-radius:40%;

}
.s-name{
  color:rgb(143, 128, 207);
  text-shadow: 1px 1px 1px rgb(166, 168, 216);
  text-decoration: underline;
  /* border: 2px solid black; */
}
